@model IEnumerable<LsMapasNet.Entidade.Mapas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.desc_mapa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.obs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.centromapa_lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.centromapa_long)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_surdo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zoommapa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc_mapa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.centromapa_lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.centromapa_long)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_surdo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zoommapa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
