@model LsMapasNet.Entidade.Surdo

@{
    ViewBag.Title = "Novo Surdo";
}

<div class="container">

    <h5>Novo Cadastro</h5>


    @using (Html.BeginForm())
    {

        @if(ViewBag.Erro != "")
        {

        }
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h5 class="amber-text text-darken-4">Surdo</h5>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="input-field col s12 m6 l10">
                    @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                    <label for="nome">Nome</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6 l10">
                    @Html.EditorFor(model => model.endereco, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.endereco, "", new { @class = "text-danger" })
                    <label for="endereco">Endereco</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    @Html.EditorFor(model => model.perimetro, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.perimetro, "", new { @class = "text-danger" })
                    <label for="perimetro">Perimetro</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6 l6">
                    @Html.EditorFor(model => model.latitude, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.latitude, "", new { @class = "text-danger" })
                    <label for="latitude">Latitude</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    @Html.EditorFor(model => model.longitude, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.longitude, "", new { @class = "text-danger" })
                    <label for="longitude">Longitude</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6 l6">
                    @Html.EditorFor(model => model.bairro, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.bairro, "", new { @class = "text-danger" })
                    <label for="bairro">Bairro</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    @*@Html.DropDownList("ListStatus", null, "Status")*@

                    @Html.DropDownListFor(model => model.status, ViewBag.ListStatus as IEnumerable<SelectListItem>)
                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Retornar", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section Scriptsoutros
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
}
